body{
  background: url("https://wallpaperaccess.com/full/42614.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-page{
  margin: auto;
  width: 40%;
  border: 3px solid saddlebrown;
  padding: 10px;
  background-color: gray;
  text-align: center;
  background-image: url("https://c.tenor.com/w8HIP86gckQAAAAd/mononoke-kodama.gif");
}

.App{
  color: rgb(242, 255, 240);
}


.hp-header{
  font-size: 20px;
  text-align: center;
}

.film-details{
  border: 3px solid saddlebrown;
  padding: 10px;
  background-color: gray;
  margin: auto;
  width: 95vh;
}

.banner{
  height: auto;
  width: fit-content;
}
.film-details{
  background-image: url("https://w0.peakpx.com/wallpaper/908/604/HD-wallpaper-studio-ghibli-anime-l-howl-logo-studio-ghibli-logo-totoro.jpg");
  height: fit-content;
  /* width: 85%; */
}

.search-box{
  display: grid;
} 

.film-images{
  /* film cards */
  display: grid;
  grid-row-end: span;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  float: left;
  margin-left: 44px;
  }

.search-header{
  font-size: 20px;
  text-align: center;
  }

.input-box{
  text-align: center;
  margin: 30px;
  padding-top: 5px;
}  

.navbar{
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.new{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 30px; 
  color:black; 

}

a:link {
  text-decoration: none;
  color: black;
  text-indent: 4em;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
